@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <a href="https://ravendb.net/"> RavenDB site </a>
</address>

<address>
    <strong>Contact Us:</strong> <a href="https://ravendb.net/contact">https://ravendb.net/contact</a>
</address>
